@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url(images/Desktop\ -\ 7.png);
    background-position: cover;
}

.reveiw1{
    margin: 20px;
    position: relative;
    left: 525px;
    top: 102px;

}

.reveiw2{
    margin: 20px;
    position: inherit;
    position: relative;
    bottom:636.9px;
}

.reveiw3{
    margin: 20px;
    position: inherit;
    position: relative;
    left: 1050px;
    bottom: 1380px;
}

.reveiw4{
    margin: 20px;
    position: inherit;
    position: relative;
    left: 1050px;
    bottom: 1400px;
}

.reveiw5{
    margin: 20px;
    position: inherit;
    position: relative;
    bottom: 1420px;
}

.review{
    font-family: 'Alice', serif;
    color: rgb(65, 14, 102);
    position: relative;
    margin: 20px;
    left: 25%;
    top: 90px;
    font-weight: bolder;
    font-size: 64px; 
}

.line{
    margin: 20px;
    position: relative;
    left: 25%;
    top: 50px;

}

.severces{
    margin: 20px;
    position: relative;
    font-family: 'Alice', serif;
    color: rgb(65, 14, 102);
    position: relative;
    left: 43%;
    top: 90px;
    font-weight: bolder;
}

.line2{
    margin: 20px;
    position: relative;
    left: 39%;
    top: 50px;
    width: px;
}

.subheading{
    margin: 20px;
    position: relative;
    font-family: 'Alice', serif;
    color: rgb(65, 14, 102);
    position: relative;
    left: 39%;
    top: 30px;
}

.paragraph{
    margin: 40px;
    position: relative;
    left: 38%;
}

.price{
    margin: 50px;
    font-weight: bolder;
    position: relative;
    bottom: -100px;
}

.line3{
    margin: 30px;
    position: relative;
    bottom: -20px;
    left: -20px;
}

.plans{
    margin: 50px;
    position: relative;
    bottom: 50px;  
}

.para2{
    margin: 50px;
    position: relative;
    bottom: 93px;
}

.overplans{
    position: relative;
    bottom: 80px;
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);


.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 20px;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}